[submodule "packages/array"]
	path = packages/array
	url = https://github.com/GoHarder/js-library.git
	branch = array-main
[submodule "packages/validate"]
	path = packages/validate
	url = https://github.com/GoHarder/js-library.git
	branch = validate-main
[submodule "packages/object"]
	path = packages/object
	url = https://github.com/GoHarder/js-library.git
	branch = object-main
[submodule "packages/math"]
	path = packages/math
	url = https://github.com/GoHarder/js-library.git
	branch = math-main
[submodule "packages/string"]
	path = packages/string
	url = https://github.com/GoHarder/js-library.git
	branch = string-main
